{{template "base" . }}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home Page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet corrupti quibusdam nam ut saepe rem
                delectus dolore distinctio, assumenda at.
            </p>
        </div>
    </div>
</div>
{{end}}